# IDE-specific files
.idea/
.classpath
.project
.settings/

# Build artifacts
target/
build/
*.class

# Maven specific files
**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/wrapper/maven-wrapper.jar

# Gradle specific files
**/.gradle/

# OS-specific files
.DS_Store
Thumbs.db

